*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Open Sans', sans-serif;
}

html,body{
	height: 100%;
}

/**Divs gerais**/

.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/***********/

header{
	background-color: rgb(180, 180, 180);
	padding: 10px 2% 40px 2%;
}

.logo1{
	float: left;
	width: 150px;
	height: 70px;
	background-image: url(../imagem/logo1.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
/*	background-color: purple;*/
}

.logo2{
	float: right;
	width: 150px;
	height: 70px;
	background-image: url(../imagem/logo2.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/*background-color: green;*/
}

section.cover-form{
	width: 100%;
	padding: 0 2%;

}

.bg{
	height: 500px;
	background-size: cover;
	background-position: center;
	background-image: url(../imagem/bg-form.jpg)
}

.form-container{
	float:right;
	width: 400px;
	margin-right: 40px;
	margin-left: 60px;
	height: 110%;
	position: relative;
	top: -5%;
	background-color: white;
	box-shadow: 1px 1px 2px 1px rgb(180,180,180);
	z-index: 2;
}


.form-container h2{
	font-weight: normal;
	padding: 25px 15px;
	color: black;
	font-size: 18px;
	background-color: rgb(210, 210, 210);
}

.form-container form{
	margin-top: 8px;
	padding: 15px;
}

.form-container form p{
	margin-top: 13;
	color: #525252;
}

.form-wraper:not(:first-child){
	margin-top: 40px;
}

.form-wraper:last-child{
	margin-top: 20px;
}

.form-container form input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

.form-container form input[type=submit]{
	text-transform: uppercase;
	color: white;
	width: 100%;
	font-size: 25px;
	height: 50px;
	background-color: #033C50;
	cursor: pointer;
	border: none;
}

section.chamada{
	z-index: 1;
	width: 100%;
	top: -50px;
	text-align: center;
	display: inline-block;
	position: relative;
}

section.chamada .container{
	padding: 50px 0;
	background-color: #215170 ;
}

section.chamada h2{
	width: 90%;
	max-width: 600px;
	display: inline-block;
	color: white;
	font-size: 22px;
	font-weight: normal;
}

@media screen and (max-width: 960px){

	.bg{
		text-align: center;
		padding: 40px 0;
	}
	.form-container{
		display: inline-block;
		width: 100%;
		max-width: 400px;
		height: auto;
	}
}

.flex-mosaico{
	display: flex;

}

.item-1-mosaico{
	background-image: url(../imagem/mosaico1.jpg);
	background-position: center;
	background-size: cover;
	width: 60%;

}

.item-2-mosaico{
	background-color: #4683AB;
	width: 40%;
	padding: 60px 40px;

}

.item-2-mosaico p{
	color: white;
}

@media screen and (max-width: 768px){

	.form-container{
	display: inline-block;
	width: 100%;
	max-width: 400px;
	height: auto;

	}

	.flex-mosaico{
		display: block;
	}

	.item-1-mosaico{
		height: 400px;
		width: 100%;
	}

	.item-2-mosaico{
		text-align: center;
		width: 100%;
	}
}
footer{
	text-align:center;
	padding: 20px;
}

footer p{
	margin-top: 8px;
	text-align: center;
}

footer img{
	width: 120px;
}


@media screen and (max-width: 560px){

	.form-container{
		left: 15px;
	}

	.bg{
		height: 500px;
		background-size: cover;
	}

	header{
		text-align: center;

	}

	.logo1, .logo2{
		display: inline-block;
		float: none;
		margin-top: 10px;
	}



}